@using System.Web.Optimization
@using System.Configuration

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <title>ライセンス - @ConfigurationManager.AppSettings["Title"]</title>
    @Styles.Render("~/styles/fonts")
    @Styles.Render("~/styles/bootstrap")
    @switch (ConfigurationManager.AppSettings["Series"])
    {
        case "ME":
            @Styles.Render("~/styles/garmit-me")
            break;
        case "SC":
            @Styles.Render("~/styles/garmit-sc")
            break;
        default:
            @Styles.Render("~/styles/garmit-dc")
            break;
    }
    @Styles.Render("~/styles/sitecss")
</head>
<body id="rootContainer" class="gdc-body">
    <div class="mlr-2">
        <h2>Open Sorce License</h2>
        <div class="mtb-2">
            <div class="mtb-1">this software is built using open source software.</div>
            <ul>
                <li><a href="License/MIT">MIT License</a></li>
                <li><a href="License/Apache">Apache License</a></li>
                <li><a href="License/BSD">BSD-3-Clause License</a></li>
            </ul>
        </div>
        <hr />
        <a href="/Top"><i class="fa fa-undo"></i> Top</a>
    </div>
</body>
</html>

