@using System.Web.Optimization
@using System.Configuration

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

    <title>MITライセンス - @ConfigurationManager.AppSettings["Title"]</title>
    @Styles.Render("~/styles/fonts")
    @Styles.Render("~/styles/sitecss")
    @Styles.Render("~/styles/bootstrap")
    @switch (ConfigurationManager.AppSettings["Series"])
    {
        case "ME":
            @Styles.Render("~/styles/garmit-me")
            break;
        case "SC":
            @Styles.Render("~/styles/garmit-sc")
            break;
        default:
            @Styles.Render("~/styles/garmit-dc")
            break;
    }
</head>
<body id="rootContainer" class="gdc-body">
    <div class="mlr-2 mtb-2">
        <h2>MIT License</h2>
        <div class="mtb-2">
            <ul>
                <li>babel-polyfill</li>
                <li>bootstrap</li>
                <li>classnames</li>
                <li>datatables.net</li>
                <li>datatables.net-bs</li>
                <li>font-awesome</li>
                <li>jquery</li>
                <li>jquery-toast-plugin</li>
                <li>jquery-ui</li>
                <li>moment</li>
                <li>muuri</li>
                <li>number-format.js</li>
                <li>prop-types</li>
                <li>react</li>
                <li>react-bootstrap</li>
                <li>react-datetime</li>
                <li>react-redux</li>
                <li>react-router</li>
                <li>react-router-redux</li>
                <li>react-slick</li>
                <li>react-svg-pan-zoom</li>
                <li>redux</li>
                <li>redux-form</li>
                <li>redux-saga</li>
                <li>slick-carousel</li>
                <li>spectrum</li>
                <li>svg-z-order</li>
                <li>updated-jqplot</li>
                <li>react-hotkeys</li>
            </ul>
        </div>
        <hr />
        <a href="/License"><i class="fa fa-undo"></i> Back</a>
    </div>
</body>
</html>

